@namespace MduiBlazor
@inherits MduiComponentBase

<span class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @ChildContent
    @if (Visible)
    {
        <span class="@ContentClassname">
            @if (!Dot)
            {
                if (!string.IsNullOrWhiteSpace(Icon))
                {
                    <MduiIcon Icon="@Icon" />
                }
                else
                {
                    @Content
                }
            }
        </span>
    }
</span>