@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes" @onclick:stopPropagation="@true">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <div class="mdui-dialog-title">@Title</div>
    }
    <div class="mdui-dialog-content">
        @if (ChildContent is not null)
        {
            <CascadingValue Value="@this" IsFixed>
            @ChildContent
        </CascadingValue>
        }
        else
        {
            @Message
        }
    </div>
    @if (Options?.ShowConfirm == true || Options?.ShowCancel == true)
    {
        <div class="mdui-dialog-actions">
            @if (Options?.ShowCancel == true)
            {
                <MduiButton Text OnClick="@Cancel">@(Options?.CancelText)</MduiButton>
            }
            @if (Options?.ShowConfirm == true)
            {
                <MduiButton Text OnClick="@Close">@(Options?.ConfirmText)</MduiButton>
            }
        </div>
    }
</div>
<MduiOverlay Visible="@IsShow" OnBackgroundClick="@OnClickBackgroundAsync" />