@namespace MduiBlazor
@inherits MduiComponentBase

<MduiElement HtmlTag="@HtmlTag" Class="@Classname" Style="@Style" @attributes="@AdditionalAttributes">
    <div class="@HeaderClassname">
        @HeaderContent
    </div>
    <div Class="@BodyClassname">
        <div class="mdui-collapse-content">
            @ChildContent
        </div>
    </div>
</MduiElement>