@inherits LayoutComponentBase

<MduiLayout Style="overflow-x: hidden;">
    <MduiAppbar Fixed>
        <MduiToolbar Color="@Colors.Theme.Primary">
            <MduiIconButton Icon="menu" OnClick="_=>open=!open" />
            <MduiText Typo="@Typo.title">Title</MduiText>
            <MduiToolbarSpace />
            <a href="https://github.com/gaofen13/mdui-blazor" target="_blank">About</a>
            <MduiIconButton Icon="search" />
            <MduiIconButton Icon="refresh" OnClick="@ReflashPage" />
            <MduiMenu Icon="more_vert" AlignEnd>
                <MduiMenuItem>Help & feedback</MduiMenuItem>
                <MduiMenuItem Disabled>Settings</MduiMenuItem>
                <MduiDivider />
                <MduiMenuItem>Sign out</MduiMenuItem>
            </MduiMenu>
        </MduiToolbar>
    </MduiAppbar>
    <MduiDrawer UseMduiTypo @bind-Opened="@open">
        <NavMenu />
    </MduiDrawer>

    <main class="mdui-p-a-2">
        <ErrorBoundary @ref="errorBoundary" Context="ex">
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <div class="blazor-error-boundary">@ex.Message</div>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</MduiLayout>