@namespace MduiBlazor
@inherits MduiComponentBase
@implements IDisposable

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <div class="@HeaderClassname" @onclick="@OnTitleClicked">
        @if (IconContent is not null)
        {
            @IconContent
        }
        else if (Icon is not null)
        {
            <MduiIcon Name="@Icon" />
        }
        <div class="mdui-list-item-content">@Title</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
    </div>
    <div class="@BodyClassname" style="@BodyStylelist">
        <CascadingValue Value="@this" IsFixed>
            @ChildContent
        </CascadingValue>
    </div>
</div>