@namespace MduiBlazor
@inherits MduiComponentBase
@implements IDisposable

<MduiCollapse HtmlTag="div" Open="@Open" Class="@Class" Style="@Style" UseMduiTypo="@UseMduiTypo" @attributes="@AdditionalAttributes">
    <HeaderContent>
        <div class="@HeaderClassname" style="@HeaderStylelist" @onclick="@OnTitleClicked" @onclick:stopPropagation="@true">
            @if (IconContent is not null)
            {
                @IconContent
            }
            else if (Icon is not null)
            {
                <MduiIcon Icon="@Icon" />
            }
            <div class="mdui-list-item-content">@Title</div>
            <MduiIcon Class="mdui-collapse-arrow" Icon="keyboard_arrow_down" />
        </div>
    </HeaderContent>
    <ChildContent>
        <div class="@BodyClassname">
            <CascadingValue Value="@this" IsFixed>
                @ChildContent
            </CascadingValue>
        </div>
    </ChildContent>
</MduiCollapse>