@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <button Class="@FabBtnClassname" @onclick="@OnFabClicked" @onblur="@OnBlur">
        <div class="mdui-fab-icon">
            @if (IconContent is not null)
            {
                @IconContent
            }
            else
            {
                <MduiIcon Name="@Icon" />
            }
        </div>
        <div class="mdui-fab-icon mdui-fab-opened">
            @if (OpenedIconContent is not null)
            {
                @OpenedIconContent
            }
            else
            {
                <MduiIcon Name="@_openedIcon" />
            }
        </div>
    </button>
    <div class="@DialClassname" style="@DialStylelist">
        @ChildContent
    </div>
</div>
