@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <button Class="@FabBtnClassname">
        <MduiIcon Name="@Icon" />
        <MduiIcon Name="@OpenedIcon" Class="mdui-fab-opened" />
    </button>
    <div class="mdui-fab-dial" style="@DialStyle">
        @ChildContent
    </div>
</div>
