@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <MduiFab Class="@FabBtnClassname" Color="@Color" Icon="@FabIcon" IconColor="@IconColor"
        IconClass="@FabIconClassname" OnClick="@OnClickFabBtn" />
    <div class="@DialClassname" style="@DialStyle">
        @ChildContent
    </div>
</div>
