@namespace MduiBlazor
@inherits MduiComponentBase

<button class="@Classname" style="@Style" @attributes="@AdditionalAttributes" @onclick="@OnClick">
    <MduiIcon Name="@Icon" Class="@IconClass" Color="@IconColor" Custom="@CustomIcon" />
</button>
