@namespace MduiBlazor
@inherits MduiComponentBase

@if (ActivatorContent != null)
{
    <label mdui-menu="@Options">
        @ActivatorContent
    </label>
}
else
{
    <MduiButton mdui-menu="@Options">@Title</MduiButton>
}
<ul id="@id" class="@Classname" style="@Style">
    @ChildContent
</ul>