@namespace MduiBlazor
@inherits MduiComponentBase

<li class="@Classname" style="@Style" disabled="@Disabled" @attributes="@AdditionalAttributes">
    <a>
        @ChildContent
        @if (!string.IsNullOrWhiteSpace(HelperText))
        {
            <span class="mdui-menu-item-helper">@HelperText</span>
        }
    </a>
</li>