@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (ActivatorContent != null)
    {
        <label mdui-menu="@Options">
            @ActivatorContent
        </label>
    }
    else
    {
        <MduiButton mdui-menu="@Options">@Title</MduiButton>
    }
    <ul id="@id" class="mdui-menu">
        @ChildContent
    </ul>
</div>