@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (ActivatorContent != null)
    {
        <label @onclick="@OnActivatorClicked" @onblur="@OnBlur">
            @ActivatorContent
        </label>
    }
    else
    {
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <MduiButton @onclick="@OnActivatorClicked" @onblur="@OnBlur">
                @Title
                @if (!string.IsNullOrWhiteSpace(Icon))
                {
                    <MduiIcon Name="@Icon" />
                }
            </MduiButton>
        }
        else if (!string.IsNullOrWhiteSpace(Icon))
        {
            <MduiIconButton Icon="@Icon" @onclick="@OnActivatorClicked" @onblur="@OnBlur" />
        }
    }
    <ul class="@MenuListClass">
        @ChildContent
    </ul>
</div>