@namespace MduiBlazor
@inherits MduiInputBase<string>

<div class="@Classname" style="@Style">
    @if (Icon is not null)
    {
        <MduiIcon Name="@Icon" />
    }
    @if (Label is not null)
    {
        <label class="mdui-textfield-label">@Label</label>
    }
    <input @ref="@Element"
           class="mdui-textfield-input"
           type="@Type"
           required="@Required"
           pattern="@Pattern"
           maxlength="@MaxLength"
           placeholder="@Placeholder"
           disabled="@Disabled"
           readonly="@Readonly"
           @attributes="@AdditionalAttributes"
           value="@BindConverter.FormatValue(CurrentValueAsString)"
           @onchange="@(EventCallback.Factory.CreateBinder<string?>(this, __value => CurrentValueAsString = __value, CurrentValueAsString))"
           @oninput="@OnTextInput" />
    @if (!string.IsNullOrWhiteSpace(ErrorText))
    {
        <div class="mdui-textfield-error">@ErrorText</div>
    }
    @if (!string.IsNullOrWhiteSpace(HelperText))
    {
        <div class="mdui-textfield-helper">@HelperText</div>
    }
    @if (MaxLength > 0 && MaxLength <= int.MaxValue)
    {
        <div class="mdui-textfield-counter">
            <span class="mdui-textfield-counter-inputed">@_wordNumber</span> / @MaxLength
        </div>
    }
</div>
