@namespace MduiBlazor
@inherits MduiInputBase<TValue>
@typeparam TValue

<label class="@FieldClassname">
    <input @ref="@Element" class="@Classname" style="@Style" type="range" step="@Step" min="@Min" max="@Max"
        disabled="@Disabled" @attributes="@AdditionalAttributes"
        value="@BindConverter.FormatValue(CurrentValueAsString)"
        @onchange="@(EventCallback.Factory.CreateBinder<string?>(this, __value => CurrentValueAsString = __value, CurrentValueAsString))" />
    <div class="mdui-slider-track" style="@TrackStyle"></div>
    <div class="mdui-slider-fill" style="@FillStyle"></div>
    <div class="mdui-slider-thumb" style="@ThumbStyle"></div>
</label>