@namespace MduiBlazor
@inherits MduiComponentBase
@typeparam TValue

<label class="mdui-radio">
    <input type="radio" name="@(Name??RadioGroup?.RadioName)" class="@Class" style="@Style"
        disabled="@Disabled" @attributes="@AdditionalAttributes" checked="@Checked" value="@Value"
        @onchange="@OnRadioChanged" />
    <i class="mdui-radio-icon"></i>
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else if (Label is not null)
    {
        @Label
    }
</label>