@namespace MduiBlazor
@inherits MduiInputBase<TValue>
@typeparam TValue

<label class="@FieldClassname">
    <input @ref="@Element" class="@Class" style="@Style" name="@Name" type="range" step="@Step" min="@Min" max="@Max"
        readonly="@Readonly" disabled="@Disabled" @attributes="@AdditionalAttributes"
        value="@BindConverter.FormatValue(CurrentValueAsString)"
        @oninput="@(EventCallback.Factory.CreateBinder<string?>(this, __value => CurrentValueAsString = __value, CurrentValueAsString))"
        @onfocus="@OnFocus" @onblur="@OnBlur" />
    <span class="mdui-slider-track" style="width:100%;"></span>
    <span class="mdui-slider-fill" style="@FillStyle"></span>
    <span class="mdui-slider-thumb" style="@ThumbStyle">
        @if (!NoLabel)
        {
            <span class="mdui-slider-label">
                <span>@Value</span>
            </span>
        }
    </span>
</label>