<div class="mdui-shadow-5" style="height: 360px;">
    <MduiLayout AppbarWithToolbar AppbarWithTab>
        <MduiAppbar Inset="@open">
            <MduiToolbar Color="@Colors.Theme.Primary">
                <MduiIconButton OnClick="@ToggleDrawer" Icon="menu" />
                <MduiText Typo="@Typo.title">Title</MduiText>
                <MduiToolbarSpace />
                <MduiIconButton Icon="search" />
                <MduiIconButton Icon="refresh" />
                <MduiMenu Icon="more_vert" AlignEnd>
                    <MduiMenuItem>Help & feedback</MduiMenuItem>
                    <MduiMenuItem Disabled>Settings</MduiMenuItem>
                    <MduiDivider />
                    <MduiMenuItem>Sign out</MduiMenuItem>
                </MduiMenu>
            </MduiToolbar>
            <MduiTab Color="@Colors.Theme.Primary">
                <MduiTabItem Title="web" Default />
                <MduiTabItem Title="shopping" />
                <MduiTabItem Title="images" />
             </MduiTab>
        </MduiAppbar>
        <MduiDrawer Persistent Shadow="5" @bind-Opened="@open">侧边导航栏</MduiDrawer>
        <MduiLayoutContent>
            这里是页面内容
        </MduiLayoutContent>
    </MduiLayout>
</div>

@code {
    bool open = true;

    void ToggleDrawer()
    {
        open = !open;
    }
}