@namespace MduiBlazor
@inherits MduiComponentBase

<li class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (HeaderContent is not null)
    {
        @HeaderContent
    }
    else
    {
        <div class="@HeaderClassname" @onclick="@OnTitleClicked" @onclick:stopPropagation="@true">
            @Title
        </div>
    }
    <div class="@BodyClassname" style="@BodyStylelist">
        @ChildContent
    </div>
</li>