@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <div class="mdui-panel-item-header" @onclick="@OnClickHeaderAsync">
        <div class="mdui-panel-item-title">@Title</div>
        @if (Summary?.Any() == true)
        {
            foreach (var item in Summary)
            {
                <div class="mdui-panel-item-summary">@item</div>
            }
        }
        <MduiIcon Class="mdui-panel-item-arrow" Icon="@ArrowIcon" />
    </div>
    <div class="mdui-panel-item-body">
        <div class="mdui-panel-item-content">
            @ChildContent
            @if (ActionsContent is not null)
            {
                <div class="mdui-panel-item-actions">
                    @ActionsContent
                </div>
            }
        </div>
    </div>
</div>