<div class="@Classname">
    @if (!HideExample)
    {
        <div class="example-tools">
            <a href="javascript:;" @onclick="_=>_showCode=!_showCode" class="viewsource">
                <i class="mdui-icon material-icons">code</i>
            </a>
        </div>
        <div class="example-demo-label">@Label</div>
        <div class="example-demo">
            <DynamicComponent Type="@Component" Parameters="@ComponentParameters" />
        </div>
    }
    @if (_showCode || FixCode || HideExample)
    {
        <CodeSnippet Language="@Language" Class="example-code">@CodeContents</CodeSnippet>
    }
</div>
