<div>
    <MduiText Typo="@Typo.display4">display-4</MduiText>
</div>
<div>
    <MduiText Typo="@Typo.display3">display-3</MduiText>
</div>
<div>
    <MduiText Typo="@Typo.display2">display-2</MduiText>
</div>
<div>
    <MduiText Typo="@Typo.display1">display-1</MduiText>
</div>
<div>
    <MduiText Typo="@Typo.headline">headline</MduiText>
</div>
<div>
    <MduiText Typo="@Typo.title">title</MduiText>
    <MduiText Typo="@Typo.subheading">subheading</MduiText>
</div>
<div>
    <MduiText Typo="@Typo.body2">body2</MduiText>
</div>
<div>
    <MduiText Typo="@Typo.body1">body1</MduiText>
</div>
<div>
    <MduiText Typo="@Typo.caption">caption</MduiText>
</div>