@namespace MduiBlazor
@inherits MduiComponentBase

<a class="@Classname" style="@Style" @attributes="@AdditionalAttributes"
    @onclick="@(_=>Nav?.OnActiveItemChanged(this))">
    @if (Icon != null)
    {
        <MduiIcon Icon="@Icon" />
    }
    <label>@ChildContent</label>
</a>