@namespace MduiBlazor
@inherits MduiComponentBase

<a class="@Classname" style="@Style" @attributes="@AdditionalAttributes"
    @onclick="@(_=>Nav?.OnActivedItemChanged(this))">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        @if (IconContent is not null)
        {
            @IconContent
        }
        else if (Icon is not null)
        {
            <MduiIcon Icon="@Icon" />
        }
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <label>@Title</label>
        }
    }
</a>