@namespace MduiBlazor
@typeparam TValue
@inherits MduiComponentBase
@implements IDisposable

@if (Show)
{
    <li class="@Classname" style="@Style" disabled="@Disabled" @onclick="@OnClickedItem"
        @attributes="@AdditionalAttributes">
        @if (Picker?.MultiSelection == true)
        {
            <MduiCheckbox Value="@Checked" ValueChanged="@OnCheckedChanged" />
        }
        @ChildContent
    </li>
}