@namespace MduiBlazor
@inherits MduiInputBase<TValue>
@typeparam TValue

<div @ref="@Element" role="radiogroup" class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <CascadingValue Name="RadioGroup" Value="@this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>
