@page "/appbar"
@inherits BasePage
@using MduiBlazor.Shared.Pages.Examples.Appbars

<PageTitle>应用栏</PageTitle>
<h1 class="mdui-m-y-5">
    <MduiText Typo="@Typo.display1" TextColor="@Colors.Theme.Primary">应用栏</MduiText>
</h1>
<p>应用栏通常位于页面顶部，可以包含工具栏、Tab 选项卡等组件。一个页面只能有一个应用栏。</p>

<PageContent>
    <PageContentItem Title="Examples" OnClick="@(_=>ScrollToElementById("examples"))">
        <PageContentItem Title="仅含工具栏" OnClick="@(_=>ScrollToElementById("toolbar"))" />
        <PageContentItem Title="仅含Tab选项卡" OnClick="@(_=>ScrollToElementById("tab"))" />
        <PageContentItem Title="含工具栏和Tab选项卡" OnClick="@(_=>ScrollToElementById("toolbar&tab"))" />
        <PageContentItem Title="固定到页面顶部" OnClick="@(_=>ScrollToElementById("fixed"))" />
    </PageContentItem>
    <PageContentItem Title="组件参数" OnClick="@(_=>ScrollToElementById("attr"))" />
</PageContent>

<MduiDivider Class="mdui-m-y-5" />

<div>
    <h2 id="examples">
        <MduiText Typo="@Typo.headline" TextColor="@Colors.Theme.Primary">Examples</MduiText>
    </h2>

    <MduiText id="toolbar" Typo="@Typo.subheading"><b>仅含工具栏</b></MduiText>
    <ExampleSection Component="@typeof(AppbarWithToolbar)" />

    <MduiText id="tab" Typo="@Typo.subheading"><b>仅含Tab选项卡</b></MduiText>
    <ExampleSection Component="@typeof(AppbarWithTab)" />

    <MduiText id="toolbar&tab" Typo="@Typo.subheading"><b>含工具栏和Tab选项卡</b></MduiText>
    <ExampleSection Component="@typeof(AppbarWithToolbarAndTab)" />
    <ExampleSection Component="@typeof(AppbarWithToolbarAndIconTab)" />

    <MduiText id="toolbar&tab" Typo="@Typo.subheading"><b>透明背景</b></MduiText>
    <p class="mdui-typo">需要设置参数<code>Shadow="0"</code>取消应用栏的阴影。</p>
    <ExampleSection Component="@typeof(TransparentAppbarWithToolbar)" />

    <MduiText id="fixed" Typo="@Typo.subheading"><b>固定到页面顶部</b></MduiText>
    <p class="mdui-typo">设置参数<code>Fixed="true"</code>可以使应用栏固定在页面顶部，不随滚动条滚动。</p>

</div>

<MduiDivider Class="mdui-m-y-5" />

<div>
    <h2 id="attr">
        <MduiText Typo="@Typo.headline" TextColor="@Colors.Theme.Primary">组件参数</MduiText>
    </h2>

    <MduiTableContainer UseMduiTypo Class="mdui-m-y-1">
         <MduiSimpleTable>
             <thead>
                 <th>参数名称</th>
                 <th>类型/返回类型</th>
                 <th>说明</th>
             </thead>
             <tbody>
                 <tr>
                     <td>
                         <code>Fixed</code>
                     </td>
                     <td>
                         <code>bool</code>
                     </td>
                     <td>是否固定到页面顶部，默认<code>false</code>。</td>
                 </tr>
                 <tr>
                     <td>
                         <code>Shadow</code>
                     </td>
                     <td>
                         <code>int?</code>
                     </td>
                     <td>应用栏阴影效果值（0~24）。</td>
                 </tr>
                 <tr>
                     <td>
                         <code>Inset</code>
                     </td>
                     <td>
                         <code>bool</code>
                     </td>
                     <td></td>
                 </tr>
             </tbody>
         </MduiSimpleTable>
     </MduiTableContainer>
 </div>