@page "/buttons"
@inject NavigationManager Navigation

<ExampleSection Label="扁平按钮" ExampleFile="SimpleButton" />

<h2>IconButton</h2>
<MduiIconButton Icon="add" />
<MduiIconButton Color="@Colors.Theme.Accent" Icon="add" />

<h2>ButtonGroup</h2>
<MduiButtonGroup>
    <MduiButton>
        <MduiIcon Name="format_align_left" />
    </MduiButton>
    <MduiButton>
        <MduiIcon Name="format_align_center" />
    </MduiButton>
    <MduiButton>
        <MduiIcon Name="format_align_right" />
    </MduiButton>
    <MduiButton>
        <MduiIcon Name="format_align_justify" />
    </MduiButton>
</MduiButtonGroup>

<h2>FabButton</h2>
<MduiButton Color="@Colors.Theme.Accent" OnClick="@(_=>hide=!hide)">@(hide ? "显示" : "隐藏")</MduiButton>
    <MduiFab Hide="@hide" Icon="add" Color="@Colors.Theme.Accent" />

    <MduiFabMenu Icon="add" OpenedIcon="edit" Color="@Colors.Theme.Accent">
        <MduiFab Icon="backup" Color="@Colors.Theme.Primary" OnClick="@NavigationBack" Mini />
     <MduiFab Icon="bookmark" Color="@Colors.Theme.Accent" Mini />
     <MduiFab Icon="access_alarms" Color="@Colors.Blue.Primary" Mini />
     <MduiFab Icon="touch_app" Color="@Colors.Green.Primary" Mini />
 </MduiFabMenu>

 @code {
    bool hide;

    private void NavigationBack()
    {
        Navigation.NavigateTo("");
    }
}