@page "/color&theme"

<p>你可以点击页面右上角的<MduiIcon Name="color_lens" />图标来设置主题颜色，下面的颜色表的主色、强调色、主题色都会随之发生变化。</p>
<div class="mdui-row-xs-1 mdui-row-md-2 mdui-row-lg-3">
    <div class="mdui-col">
        <ul class="color-palette">
            <li class="mdui-color-theme color-name">Primary（主色）</li>
            <li class="mdui-color-theme">@nameof(Colors.Theme.Primary)</li>
            <li class="mdui-color-theme-50">@nameof(Colors.Theme.Primary0)</li>
            <li class="mdui-color-theme-100">@nameof(Colors.Theme.Primary1)</li>
            <li class="mdui-color-theme-200">@nameof(Colors.Theme.Primary2)</li>
            <li class="mdui-color-theme-300">@nameof(Colors.Theme.Primary3)</li>
            <li class="mdui-color-theme-400">@nameof(Colors.Theme.Primary4)</li>
            <li class="mdui-color-theme-500">@nameof(Colors.Theme.Primary5)</li>
            <li class="mdui-color-theme-600">@nameof(Colors.Theme.Primary6)</li>
            <li class="mdui-color-theme-700">@nameof(Colors.Theme.Primary7)</li>
            <li class="mdui-color-theme-800">@nameof(Colors.Theme.Primary8)</li>
            <li class="mdui-color-theme-900">@nameof(Colors.Theme.Primary9)</li>
        </ul>
    </div>
    <div class="mdui-col">
        <ul class="color-palette">
            <li class="mdui-color-theme-accent color-name">Accent（强调色）</li>
            <li class="mdui-color-theme-accent">@nameof(Colors.Theme.Accent)</li>
            <li class="mdui-color-theme-a100">@nameof(Colors.Theme.Accent1)</li>
            <li class="mdui-color-theme-a200">@nameof(Colors.Theme.Accent2)</li>
            <li class="mdui-color-theme-a400">@nameof(Colors.Theme.Accent4)</li>
            <li class="mdui-color-theme-a700">@nameof(Colors.Theme.Accent7)</li>
        </ul>
    </div>
    <div class="mdui-col">
        <ul class="color-palette">
            <li class="mdui-text-color-theme-text color-name">Text（文本颜色）</li>
            <li class="mdui-text-color-theme-text">@nameof(Colors.TextTheme.Default)</li>
            <li class="mdui-text-color-theme-secondary">@nameof(Colors.TextTheme.Secondary)</li>
            <li class="mdui-text-color-theme-disabled">@nameof(Colors.TextTheme.Disabled)</li>
            <li class="mdui-text-color-theme-divider">@nameof(Colors.TextTheme.Divider)</li>
            <li class="mdui-text-color-theme-icon">@nameof(Colors.TextTheme.Icon)</li>
            <li class="mdui-text-color-theme-icon-disabled">@nameof(Colors.TextTheme.IconDisabled)</li>
        </ul>
    </div>
</div>