@page "/dialogs"
@inject DialogService DialogService
@inject SnackbarService SnackbarService

<h2>标准对话框</h2>
<MduiButton Color="@Colors.Theme.Accent"
    OnClick="@(_=>DialogService.Show("You'll lose all photos and media!","Are you sure?",new DialogOptions{Modal=true}))">
    Open
</MduiButton>

<h2>Prompt对话框</h2>
<MduiButton Color="@Colors.Theme.Accent" OnClick="@ShowAsync">Open</MduiButton>

<h2>预定义对话框</h2>
<MduiButton Color="@Colors.Theme.Accent" OnClick="@(_=>DialogService.Alert("content","title"))">Alert</MduiButton>
<MduiButton Color="@Colors.Theme.Accent" OnClick="@(_=>DialogService.Confirm("content","title"))">Confirm</MduiButton>

@code {
    private async Task ShowAsync()
    {
        var reference = DialogService.Show<DialogContent>("title");
        if (reference is not null)
        {
            var res = await reference.Result;
            SnackbarService.ShowSnackbar("返回结果：" + res.Data?.ToString());
        }
    }
}