@page "/fabbuttons"
@inherits BasePage
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@using MduiBlazor.Shared.Pages.Examples.FabButtons

<PageTitle>浮动操作按钮</PageTitle>
<div class="mdui-m-y-5">
    <MduiText Typo="@Typo.display1" Color="@Colors.Theme.Primary">浮动操作按钮</MduiText>
</div>

<PageContent>
    <PageContentItem Title="Examples" OnClick="@(_=>ScrollToElementById("examples"))">
        <PageContentItem Title="浮动操作按钮" OnClick="@(_=>ScrollToElementById("simple"))" />
        <PageContentItem Title="隐藏/显示动画" OnClick="@(_=>ScrollToElementById("mini"))" />
        <PageContentItem Title="固定到右下角" OnClick="@(_=>ScrollToElementById("hide"))" />
    </PageContentItem>
    <PageContentItem Title="弹出菜单" OnClick="@(_=>ScrollToElementById("fabmenu"))" />
    <PageContentItem Title="属性/方法" OnClick="@(_=>ScrollToElementById("attr"))" />
</PageContent>

<MduiDivider Class="mdui-m-y-5" />

<div>
    <h2 id="examples">
        <MduiText Typo="@Typo.headline" Color="@Colors.Theme.Primary">Examples</MduiText>
    </h2>

    <MduiText id="simple" Typo="@Typo.subheading"><b>普通按钮</b></MduiText>
    <ExampleSection Component="@typeof(SimpleFab)" />

    <MduiText id="mini" Typo="@Typo.subheading"><b>mini按钮</b></MduiText>
    <ExampleSection Component="@typeof(MiniFab)" />

    <MduiText id="hide" Typo="@Typo.subheading"><b>隐藏/显示动画</b></MduiText>
    <ExampleSection Component="@typeof(HideFab)" />
</div>

<MduiDivider Class="mdui-m-y-5" />

<div>
    <h2 id="fabmenu">
        <MduiText Typo="@Typo.headline" Color="@Colors.Theme.Primary">弹出菜单</MduiText>
    </h2>
    <MduiButton Color="@Colors.Theme.Accent" OnClick="@(_=>hide=!hide)">@(hide ? "显示" : "隐藏")弹出按钮</MduiButton>
    @if (!hide)
    {
        <FabMenu />
    }
    <ExampleSection Label="Code" HideExample FixCode Component="@typeof(FabMenu)" />
 </div>

 <MduiDivider Class="mdui-m-y-5" />

 <div>
     <h2 id="attr">
         <MduiText Typo="@Typo.headline" Color="@Colors.Theme.Primary">属性/方法</MduiText>
     </h2>

     <MduiTableContainer UseMduiTypo>
        <MduiSimpleTable>
            <thead>
                <th>属性/方法</th>
                <th>类型</th>
                <th>说明</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <code>Color</code>
                    </td>
                    <td>
                        <code>string</code>
                    </td>
                    <td>按钮背景颜色</td>
                </tr>
                <tr>
                    <td>
                        <code>IconColor</code>
                    </td>
                    <td>
                        <code>string</code>
                    </td>
                    <td>按钮前景颜色</td>
                </tr>
            </tbody>
        </MduiSimpleTable>
    </MduiTableContainer>
</div>

@code {
    bool hide;
}