@page "/inputs"
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="1">
    <MduiTextField Placeholder="请输入文本" @bind-Value="@value" />
    <MduiTextField Label="文本框" @bind-Value="@value" />
    <MduiTextField Label="文本框" FloatingLabel @bind-Value="@value" />
    <MduiTextField AutoFocus Label="文本框" FloatingLabel Placeholder="请输入文本" @bind-Value="@value" />
    <MduiNumberField Label="数字框" Placeholder="请输入或选择数字" @bind-Value="@numValue" />
    <MduiTextField Label="文本框" HelperText="请输入文本" MaxLength="20" Placeholder="请输入文本" @bind-Value="@value" />
    <MduiTextField Label="文本框" HelperText="请输入文本" Rows="5" FloatingLabel MaxLength="50" @bind-Value="@value" />
    <MduiDivider Class="mdui-m-y-4" />
    <MduiField Label="单项选择">
        <MduiSelect @bind-Value="@value">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </MduiSelect>
    </MduiField>
    <MduiField Label="多项选择">
        <MduiMultiSelect @bind-Value="@values">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </MduiMultiSelect>
    </MduiField>
</EditForm>

<MduiField Label="Radio">
    <MduiRadioGroup @bind-Value="@value">
        <MduiRadio Value="@("1")">1</MduiRadio>
        <MduiRadio Value="@("2")">2</MduiRadio>
        <MduiRadio Value="@("3")">3</MduiRadio>
    </MduiRadioGroup>
</MduiField>

<EditForm Model="2">
    <MduiField Label="Checkbox">
        <MduiCheckbox Label="勾选" @bind-Value="@checkboxValue" />
    </MduiField>
    <MduiField Label="Switch">
        <MduiSwitch @bind-Value="@checkboxValue" />
    </MduiField>
    <MduiField Label="滑块">
        <MduiSlider @bind-Value="@numValue" Discrete Step="1" Min="0" Max="100" />
    </MduiField>
</EditForm>

@code {
    string? value = "2";
    string[] values = { "1", "2" };
    int numValue = 2;

    bool checkboxValue = true;
}