@page "/list"

<h2>纯文本</h2>
<MduiList>
    <MduiListItem>Inbox</MduiListItem>
    <MduiListItem>Starred</MduiListItem>
    <MduiListItem>Send mail</MduiListItem>
</MduiList>

<h2>图标</h2>
<MduiList>
    <MduiListItem>
        <MduiListItemIcon Icon="move_to_inbox" />
        <MduiListItemContent>Inbox</MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemIcon Icon="send" />
        <MduiListItemContent>Outbox</MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemIcon Icon="" />
        <MduiListItemContent>Trash</MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemIcon Icon="" />
        <MduiListItemContent>Spam</MduiListItemContent>
    </MduiListItem>
</MduiList>
<MduiList Style="max-width:360px;">
    <MduiListItem>
        <MduiListItemContent>Inbox</MduiListItemContent>
        <MduiListItemIcon Icon="move_to_inbox" />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemContent>Outbox</MduiListItemContent>
        <MduiListItemIcon Icon="send" />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemContent>Trash</MduiListItemContent>
        <MduiListItemIcon Icon="delete" />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemContent>Spam</MduiListItemContent>
        <MduiListItemIcon Icon="error" />
    </MduiListItem>
</MduiList>

<h2>头像</h2>
<MduiList Style="max-width:360px;">
    <MduiListItem>
        <MduiListItemAvatar ImgSrc="https://cdn.w3cbus.com/mdui/docs~1/static/6f40c42e0eceb58345d3.jpg" />
        <MduiListItemContent>Brendan Lim</MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemAvatar ImgSrc="https://cdn.w3cbus.com/mdui/docs~1/static/d521c51519ab714a99f9.jpg" />
        <MduiListItemContent>me, Scott, Jennifer</MduiListItemContent>
        <MduiListItemAvatar IconName="error" />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemAvatar IconName="delete" />
        <MduiListItemContent>Grace Ng</MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemAvatar IconName="error" />
        <MduiListItemContent>Kerem Suer</MduiListItemContent>
    </MduiListItem>
</MduiList>
<MduiList Style="max-width:360px;">
    <MduiListItem>
        <MduiListItemAvatar IconName="delete" />
        <MduiListItemContent>Brendan Lim</MduiListItemContent>
        <MduiListItemAvatar ImgSrc="https://cdn.w3cbus.com/mdui/docs~1/static/6f40c42e0eceb58345d3.jpg" />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemContent>me, Scott, Jennifer</MduiListItemContent>
        <MduiListItemAvatar ImgSrc="https://cdn.w3cbus.com/mdui/docs~1/static/d521c51519ab714a99f9.jpg" />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemContent>Grace Ng</MduiListItemContent>
        <MduiListItemAvatar IconName="delete" />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemContent>Kerem Suer</MduiListItemContent>
        <MduiListItemAvatar IconName="error" />
    </MduiListItem>
</MduiList>

<h2>多行文本</h2>
<MduiList Style="max-width:360px">
    <MduiListItem>
        <MduiListItemContent TextLineSpan="@LineSpan.three">
            <TitleContent>
                Multiline item
            </TitleContent>
            <TextContent>
                You've got to get enough sleep. Other travelling salesmen live a life of luxury. You've got to get enough sleep. Other travelling salesmen live a life of luxury.
            </TextContent>
        </MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemContent TextLineSpan="@LineSpan.three">
            <TitleContent>
                Multiline item
            </TitleContent>
            <TextContent>
                You've got to get enough sleep. Other travelling salesmen live a life of luxury. You've got to get enough sleep. Other travelling salesmen live a life of luxury.
            </TextContent>
        </MduiListItemContent>
    </MduiListItem>
</MduiList>

<h2>分隔线</h2>
<MduiList Style="max-width:360px">
    <MduiListItem>Inbox</MduiListItem>
    <MduiListItem>Starred</MduiListItem>
    <MduiDivider />
    <MduiListItem>Send mail</MduiListItem>
    <MduiListItem>Trash</MduiListItem>
</MduiList>
<MduiList Style="max-width:360px;">
    <MduiListItem>
        <MduiListItemAvatar ImgSrc="https://cdn.w3cbus.com/mdui/docs~1/static/6f40c42e0eceb58345d3.jpg" />
        <MduiListItemContent>
            <TitleContent>Brunch this weekend?</TitleContent>
            <TextContent>
                <span class="mdui-text-color-theme-text">All Connors</span> - I'll be in your neighborhood ...
            </TextContent>
        </MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemAvatar ImgSrc="https://cdn.w3cbus.com/mdui/docs~1/static/d521c51519ab714a99f9.jpg" />
        <MduiListItemContent>
            <TitleContent>Summer BBQ</TitleContent>
            <TextContent>
                <span class="mdui-text-color-theme-text">All Connors</span> - I'll be in your neighborhood ...
            </TextContent>
        </MduiListItemContent>
    </MduiListItem>
    <MduiDivider Style="margin-left:72px;" Inset />
    <MduiListItem>
        <MduiListItemAvatar IconName="delete" />
        <MduiListItemContent>
            <TitleContent>Grace Ng</TitleContent>
            <TextContent>
                <span class="mdui-text-color-theme-text">All Connors</span> - I'll be in your neighborhood ...
            </TextContent>
        </MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemAvatar IconName="error" />
        <MduiListItemContent>
            <TitleContent>Kerem Suer</TitleContent>
            <TextContent>
                <span class="mdui-text-color-theme-text">All Connors</span> - I'll be in your neighborhood ...
            </TextContent>
        </MduiListItemContent>
    </MduiListItem>
</MduiList>

<h2>副标题</h2>
<MduiList Style="max-width:360px">
    <MduiSubheader>Mail</MduiSubheader>
    <MduiListItem>Inbox</MduiListItem>
    <MduiListItem>Send mail</MduiListItem>
    <MduiSubheader>Work</MduiSubheader>
    <MduiListItem>Starred</MduiListItem>
    <MduiListItem>Trash</MduiListItem>
</MduiList>
<MduiList Style="max-width:360px">
    <MduiSubheader Inset>Mail</MduiSubheader>
    <MduiListItem>
        <MduiListItemIcon Icon="move_to_inbox" />
        <MduiListItemContent>Inbox</MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemIcon Icon="send" />
        <MduiListItemContent>Outbox</MduiListItemContent>
    </MduiListItem>
    <MduiSubheader Inset>Work</MduiSubheader>
    <MduiListItem>
        <MduiListItemIcon Icon="move_to_inbox" />
        <MduiListItemContent>Inbox</MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemIcon Icon="send" />
        <MduiListItemContent>Outbox</MduiListItemContent>
    </MduiListItem>
</MduiList>

<h2>密集型列表</h2>
<MduiList Style="max-width:360px" Dense>
    <MduiSubheader>Mail</MduiSubheader>
    <MduiListItem>Inbox</MduiListItem>
    <MduiListItem>Send mail</MduiListItem>
    <MduiSubheader>Work</MduiSubheader>
    <MduiListItem>Starred</MduiListItem>
    <MduiListItem>Trash</MduiListItem>
</MduiList>
<MduiList Style="max-width:360px" Dense>
    <MduiSubheader Inset>Mail</MduiSubheader>
    <MduiListItem>
        <MduiListItemIcon Icon="move_to_inbox" />
        <MduiListItemContent>Inbox</MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemIcon Icon="send" />
        <MduiListItemContent>Outbox</MduiListItemContent>
    </MduiListItem>
    <MduiSubheader Inset>Work</MduiSubheader>
    <MduiListItem>
        <MduiListItemIcon Icon="move_to_inbox" />
        <MduiListItemContent>Inbox</MduiListItemContent>
    </MduiListItem>
    <MduiListItem>
        <MduiListItemIcon Icon="send" />
        <MduiListItemContent>Outbox</MduiListItemContent>
    </MduiListItem>
</MduiList>

<h2>复选框</h2>
<MduiList Style="max-width:360px;">
    <MduiListItem>
        <MduiCheckbox Value />
        <MduiListItemContent>Line item selected</MduiListItemContent>
        <MduiListItemIcon Icon="move_to_inbox" />
    </MduiListItem>
    <MduiListItem>
        <MduiCheckbox Value="@false" />
        <MduiListItemContent>Line item unselected</MduiListItemContent>
        <MduiListItemIcon Icon="send" />
    </MduiListItem>
    <MduiListItem>
        <MduiCheckbox Value />
        <MduiListItemContent>Line item selected</MduiListItemContent>
    </MduiListItem>
</MduiList>
<MduiList Style="max-width:360px;">
    <MduiListItem>
        <MduiListItemAvatar ImgSrc="https://cdn.w3cbus.com/mdui/docs~1/static/6f40c42e0eceb58345d3.jpg" />
        <MduiListItemContent>Inbox</MduiListItemContent>
        <MduiCheckbox Value />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemAvatar ImgSrc="https://cdn.w3cbus.com/mdui/docs~1/static/6f40c42e0eceb58345d3.jpg" />
        <MduiListItemContent>Outbox</MduiListItemContent>
        <MduiCheckbox Value="@false" />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemAvatar IconName="" />
        <MduiListItemContent>Trash</MduiListItemContent>
        <MduiCheckbox Value />
    </MduiListItem>
</MduiList>

<h2>开/关切换</h2>
<MduiList Style="max-width:360px;">
    <MduiListItem>
        <MduiListItemIcon Icon="network_wifi" />
        <MduiListItemContent>Wi-Fi</MduiListItemContent>
        <MduiCheckbox Switch Value="@true" />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemIcon Icon="bluetooth" />
        <MduiListItemContent>Bluetooth</MduiListItemContent>
        <MduiCheckbox Switch />
    </MduiListItem>
    <MduiListItem>
        <MduiListItemIcon Icon="data_usage" />
        <MduiListItemContent>Data usage</MduiListItemContent>
    </MduiListItem>
</MduiList>
