@page "/menus"

<h2>Default(Postion Bottom)</h2>
<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu Icon="more_vert">
        <MduiMenuItem>Help & feedback</MduiMenuItem>
        <MduiMenuItem Disabled>Settings</MduiMenuItem>
        <MduiDivider />
        <MduiMenuItem>Sign out</MduiMenuItem>
    </MduiMenu>
</div>

<h2>Default(Postion Bottom), AlignEnd</h2>
<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu Title="Menu" AlignEnd>
        <MduiMenuItem>Help & feedback</MduiMenuItem>
        <MduiMenuItem Disabled>Settings</MduiMenuItem>
        <MduiDivider />
        <MduiMenuItem>Sign out</MduiMenuItem>
    </MduiMenu>
</div>

<h2>Postion Top</h2>
<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu Icon="more_vert" Position="@Position.Top">
        <MduiMenuItem>Help & feedback</MduiMenuItem>
        <MduiMenuItem Disabled>Settings</MduiMenuItem>
        <MduiDivider />
        <MduiMenuItem>Sign out</MduiMenuItem>
    </MduiMenu>
</div>

<h2>Postion Top, AlignEnd</h2>
<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu Title="Menu" Icon="more_vert" Position="@Position.Top" AlignEnd>
        <MduiMenuItem>Help & feedback</MduiMenuItem>
        <MduiMenuItem Disabled>Settings</MduiMenuItem>
        <MduiDivider />
        <MduiMenuItem>Sign out</MduiMenuItem>
    </MduiMenu>
</div>

<h2>Postion Left</h2>
<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu Icon="more_vert" Position="@Position.Left">
        <MduiMenuItem>Help & feedback</MduiMenuItem>
        <MduiMenuItem Disabled>Settings</MduiMenuItem>
        <MduiDivider />
        <MduiMenuItem>Sign out</MduiMenuItem>
    </MduiMenu>
</div>

<h2>Postion Left, AlignEnd</h2>
<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu Title="Menu" Icon="more_vert" Position="@Position.Left" AlignEnd>
        <MduiMenuItem>Help & feedback</MduiMenuItem>
        <MduiMenuItem Disabled>Settings</MduiMenuItem>
        <MduiDivider />
        <MduiMenuItem>Sign out</MduiMenuItem>
    </MduiMenu>
</div>

<h2>Postion Right</h2>
<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu Icon="more_vert" Position="@Position.Right">
        <MduiMenuItem>Help & feedback</MduiMenuItem>
        <MduiMenuItem Disabled>Settings</MduiMenuItem>
        <MduiDivider />
        <MduiMenuItem>Sign out</MduiMenuItem>
    </MduiMenu>
</div>

<h2>Postion Right, AlignEnd</h2>
<div style="width: 100%;display:flex;justify-content:center;">
    <MduiMenu Title="Menu" Icon="more_vert" Position="@Position.Right" AlignEnd>
        <MduiMenuItem>Help & feedback</MduiMenuItem>
        <MduiMenuItem Disabled>Settings</MduiMenuItem>
        <MduiDivider />
        <MduiMenuItem>Sign out</MduiMenuItem>
    </MduiMenu>
</div>