@page "/select"
@inherits BasePage
@using MduiBlazor.Shared.Pages.Examples.Selects

<PageTitle>下拉选择</PageTitle>
<div class="mdui-m-y-5">
    <MduiText Typo="@Typo.display1" TextColor="@Colors.Theme.Primary">下拉选择</MduiText>
    <p>下拉选择可以让用户在多个选项之间进行选择。</p>
</div>

<PageContent>
    <PageContentItem Title="Examples" OnClick="@(_=>ScrollToElementById("examples"))">
        <PageContentItem Title="原生单选组件" OnClick="@(_=>ScrollToElementById("singleSelect"))" />
        <PageContentItem Title="原生多选组件" OnClick="@(_=>ScrollToElementById("multiSelect"))" />
    </PageContentItem>
    <PageContentItem Title="属性/方法/事件" OnClick="@(_=>ScrollToElementById("attr"))" />
</PageContent>

<MduiDivider Class="mdui-m-y-5" />

<div>
    <h2 id="examples">
        <MduiText Typo="@Typo.headline" TextColor="@Colors.Theme.Primary">Examples</MduiText>
    </h2>

    <MduiText id="singleSelect" Typo="@Typo.subheading"><b>原生单选组件</b></MduiText>
    <ExampleSection Component="@typeof(SingleSelect)" />

    <MduiText id="multiSelect" Typo="@Typo.subheading"><b>原生多选组件</b></MduiText>
    <ExampleSection Component="@typeof(MultiSelect)" />
</div>

<MduiDivider Class="mdui-m-y-5" />

<div>
    <h2 id="attr">
        <MduiText Typo="@Typo.headline" TextColor="@Colors.Theme.Primary">属性/方法/事件</MduiText>
    </h2>

    <MduiTableContainer UseMduiTypo Class="mdui-m-y-1">
         <MduiSimpleTable>
             <thead>
                 <th>参数名称</th>
                 <th>类型/返回类型</th>
                 <th>说明</th>
             </thead>
             <tbody>
                 <tr>
                     <td>
                         <code>Height</code>
                     </td>
                     <td>
                         <code>int</code>
                     </td>
                     <td><code>MduiMultiSelecct</code>组件参数，设置select元素size高度。</td>
                 </tr>
             </tbody>
         </MduiSimpleTable>
     </MduiTableContainer>
 </div>