@page "/tables"
@using MduiBlazor.Shared.Data
@inject WeatherForecastService ForecastService

<h2>基础表格</h2>
<MduiTableContainer>
    <MduiTable Items="@_forecasts" Hoverable>
        <HeadContent>
            <MduiTh>Date</MduiTh>
            <MduiTh>TemperatureC</MduiTh>
            <MduiTh>TemperatureF</MduiTh>
            <MduiTh>Summary</MduiTh>
        </HeadContent>
        <Columns>
            <MduiColumn>@context.Date.ToString("yyyy-MM-dd")</MduiColumn>
            <MduiColumn AlignRight>@context.TemperatureC</MduiColumn>
            <MduiColumn AlignRight>@context.TemperatureF</MduiColumn>
            <MduiColumn>@context.Summary</MduiColumn>
        </Columns>
    </MduiTable>
</MduiTableContainer>

<h2>可选表格</h2>
<MduiTableContainer>
    <MduiTable Items="@_forecasts" MultiSelection Hoverable>
        <Columns>
            <MduiColumn Title="Data">@context.Date</MduiColumn>
            <MduiColumn AlignRight Title="TemperatureC">@context.TemperatureC</MduiColumn>
            <MduiColumn AlignRight Title="TemperatureF">@context.TemperatureF</MduiColumn>
            <MduiColumn Title="Summary">@context.Summary</MduiColumn>
        </Columns>
        </MduiTable>
        </MduiTableContainer>

        @code {
    private IEnumerable<WeatherForecast>? _forecasts;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}