@page "/typography"

<h2>Typo</h2>
<MduiText Typo="@Typo.display4">display-4</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.display3">display-3</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.display2">display-2</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.display1">display-1</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.headline">headline</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.title">title</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.subheading">subheading</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.body2">body2</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.body1">body1</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.caption">caption</MduiText>


<h2>Opacity</h2>
<MduiText Typo="@Typo.display4" Opacity>display-4</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.display3" Opacity>display-3</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.display2" Opacity>display-2</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.display1" Opacity>display-1</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.headline" Opacity>headline</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.title" Opacity>title</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.subheading" Opacity>subheading</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.body2" Opacity>body2</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.body1" Opacity>body1</MduiText>
<MduiDivider />
<MduiText Typo="@Typo.caption" Opacity>caption</MduiText>