@namespace MduiBlazor
@inherits MduiComponentBase

<!-- 卡片头部，包含头像、标题、副标题 -->
<div class="@Classname" style="@Style">
    <img class="mdui-card-header-avatar" src="@Avatar" />
    <div class="mdui-card-header-title">@Title</div>
    <div class="mdui-card-header-subtitle">@SubTitle</div>
</div>