@namespace MduiBlazor
@inherits MduiComponentBase

@if (Visible)
{
    if (Mode == RenderMode.Body)
    {
        @if (TreeField && Table?.HasTreeData == true)
        {
            <MduiTreeTd Class="@Class">@ChildContent</MduiTreeTd>
        }
        else
        {
            <td class="@Classname">@ChildContent</td>
        }
    }
    else if (Mode == RenderMode.Head)
    {
        <MduiTh AlignRight="@AlignRight">
            @if (TitleContent is not null)
            {
                @TitleContent
            }
            else
            {
                @Title
            }
        </MduiTh>
    }
}
