@namespace MduiBlazor
@inherits MduiComponentBase
@implements IDisposable
@typeparam TItem

<tr @key="@Key" class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (Table?.MultiSelection == true)
    {
        <td class="mdui-table-cell-checkbox">
            <MduiCheckbox Value="@Checked" ValueChanged="@OnCheckedChanged" />
        </td>
    }
    @ChildContent
</tr>
