@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @foreach (var item in _items)
    {
        <a class="@item.TitleClass" disabled="@item.Disabled" @onclick="@(_=>OnActiveTabChanged(item))">
            @if (item.IconContent is not null)
            {
                @item.IconContent
            }
            else if (!string.IsNullOrWhiteSpace(item.Icon))
            {
                <MduiIcon Name="@item.Icon" />
            }
            @if (!string.IsNullOrWhiteSpace(item.Title))
            {
                <label>@item.Title</label>
            }
        </a>
    }
</div>
<CascadingValue Value="@this" IsFixed>
    @ChildContent
</CascadingValue>