@namespace MduiBlazor
@inherits MduiComponentBase
@implements IDisposable

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <div class="@ContentClassname">
        <div class="mdui-snackbar-text">
            <CascadingValue Value="@this" IsFixed>
                @ChildContent
            </CascadingValue>
        </div>
        @if (_options.ShowCloseButton)
        {
            <MduiIconButton Class="mdui-snackbar-action" Icon="cancel" Color="@_options.CloseBtnColor" OnClick="@Close" />
        }
    </div>
</div>