@namespace MduiBlazor
@inherits MduiComponentBase
@implements IDisposable

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <div class="mdui-snackbar-text">@ChildContent</div>
    @if (_options.ShowCloseButton)
    {
        <MduiIconButton Class="mdui-snackbar-action" Icon="cancel" Color="@_options.CloseBtnColor" OnClick="@Close" />
    }
</div>