@namespace MduiBlazor
@inherits MduiComponentBase
@implements IDisposable

<li class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <div class="@HeaderClassname" @onclick="@OnTitleClicked">
        @if (IconContent is not null)
        {
            @IconContent
        }
        @if (IconName is not null)
        {
            <MduiIcon Icon="@IconName" />
        }
        <div class="mdui-list-item-content">@Title</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
    </div>
    <ul class="@BodyClassname" style="@BodyStylelist">
        @ChildContent
    </ul>
</li>