@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    @if (TitleContent is not null)
    {
        <div class="@TitleClassname">
            @TitleContent
        </div>
    }
    @if (TextContent is not null)
    {
        <div class="@TextClassname">
            @TextContent
        </div>
    }
</div>