@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <div class="@TitleClassname">
            @Title
        </div>
    }
    @if (ChildContent is not null)
    {
        <div class="@TextClassname">
            @ChildContent
        </div>
    }
</div>