@namespace MduiBlazor
@inherits MduiComponentBase

<MduiElement HtmlTag="@HtmlTag" Class="@Classname" Style="@Style" @attributes="@AdditionalAttributes">
    <div class="@HeaderClassname" @onclick="@OnTitleClicked">
        @if(Icon is not null)
        {
            <MduiListItemIcon Icon="@Icon" IconColor="@IconColor" Custom="@CustomIcon" />
        }
        <div class="mdui-list-item-content">@Title</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
    </div>
    <MduiElement HtmlTag="@BodyHtmlTag" Class="@BodyClassname" Style="@BodyStylelist">
        <CascadingValue Value="@this" IsFixed>
            @ChildContent
        </CascadingValue>
    </MduiElement>
</MduiElement>