@namespace MduiBlazor
@inherits MduiComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(ImgSrc))
    {
        <img src="@ImgSrc" />
    }
    else
    {
        <MduiIcon Name="@IconName" Color="@IconColor" Custom="@CustomIcon" />
    }
</div>